@model StudentInfo[]
<style>
 
    .body, body{
        background: #FFFFE0;
    }
  .h1, h1 {
        color: #F8CE5B;
        font-size:45px;
     text-align:center;
     line-height:75px;
  
  }
    .student-tbl {
        width: 100%;
        background:#FACDE5;
    }

        .student-tbl th {
            border: 1px solid #9c9c9c;
            padding: 12px 12px;
            background: #ED5C9B;
            color:white;
            text-align:center;
        }

        .student-tbl td {
            padding: 4px 8px;
            border: 1.5px solid #F9EBF6;
            color: #E0218A;
            font-family: 'Open Sans', sans-serif;
            font-size:15px;
        }
</style>

<h1> QCU STUDENT INFORMATION</h1>

<table border="1" class="student-tbl">
    <thead>
        <tr>
            <th> QCU Student Name</th>
            <th>QCUStudentID</th>
            <th>Student Age</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var QCUStudent in Model)
        {
            <tr>
                <td>@QCUStudent.StudentName</td>
                <td>@QCUStudent.QCUStudentID</td>
                <td>@QCUStudent.QCUStudentAge</td>
            </tr>
        }
    </tbody>
</table>
